body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: left;
    margin-top: 100px;
  }
  
  button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .error {
    color: red;
    height: 20px;
  }